button {
    display: inline-block;
    text-align: center;
    padding: .5em 1em .55em;
    border-radius: .5em;
    -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    border: solid 1px #333;
    z-index: 100;
    color: #FFF;
}

.videoplayer {
    background: -webkit-linear-gradient(left, rgba(157,78,22,1) 0%, rgba(173,75,5,1) 100%);
}

button:hover {
    text-decoration: none;
}

button:active {
    position: relative;
    top: 2px;
}

footer button, #overlay button {
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #111;
    width: 40px;
    height: 40px;
}

#home {
    background-image: url(images/home.png);
}

.language-switch {
    float: right;
    margin-right: 10px;
}

.english-switch {
    background-image: url(images/EN_Switch.png) 
}

.french-switch {
    background-image: url(images/FR_Switch.png)
}



button.round {
    border-bottom-left-radius: 2em 2em;
    border-bottom-left-radius: 2em 2em;
    border-bottom-right-radius: 2em 2em;
    border-bottom-right-radius: 2em 2em;
    border-top-left-radius: 2em 2em;
    border-top-left-radius: 2em 2em;
    border-top-right-radius: 2em 2em;
    border-top-right-radius: 2em 2em;
}

.black {
    color: #d7d7d7;
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
}

.black:hover {
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
}

.black:active {
    color: #666;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
}

/* gray */
.gray {
    color: #e9e9e9;
    border: solid 1px #555;
    background-color: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
}

.gray:hover {
    background-color: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
}

.gray:active {
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
}

/* gray */
.gray_yellow {
    color: yellow;
    border: solid 1px #555;
    background-color: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
}

.gray_yellow:hover {
    background-color: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
}

.gray_yellow:active {
    color: yellow;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
}

/* white */
.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
}

.white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
}

.white:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
}

/* orange */
.orange {
    color: #222;
/*     border: solid 1px #da7c0c; */
    border: solid 1px rgba(240,77,37,1);
    background: #f78d1d;
    background: -webkit-linear-gradient(left, rgba(240,77,37,1) 0%, rgba(189,60,34,1) 100%);
/*     background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20)); */
}

.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
}

.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
}

/* red */
.red {
    color: #faddde;
    border: solid 1px #980c10;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
}

.red:hover {
    background: #b61318;
    background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
}

.red:active {
    color: #de898c;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
}

/* blue */
.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
}

.blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
}

.blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
}

/* rosy */
.rosy {
    color: #fae7e9;
    border: solid 1px #b73948;
    background: #da5867;
    background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
}

.rosy:hover {
    background: #ba4b58;
    background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
}

.rosy:active {
    color: #dca4ab;
    background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
}

/* green */
.green {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
}

.green:hover {
    background: #538018;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
}

.green:active {
    color: #a9c08c;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
}

/* pink */
.pink {
    color: #feeef5;
    border: solid 1px #d2729e;
    background: #f895c2;
    background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
}

.pink:hover {
    background: #d57ea5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
}

.pink:active {
    color: #f3c3d9;
    background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
}