/* Font Defaults
----------------------------------------------------------------------------------------------------*/

body {
  font-family: MyriadProRegular;
}

h1 {
    font-family: Gotham;
    font-size: 2em;
    line-height: 1;
    margin-bottom: -8px;
}

h2 {
    font-family: Gotham-Book;
    font-size: 1.25em;
    line-height: 1.33;
}

.chart_wrap h2 {
    display: inline-block;
}

h3 {
    font-family: Gotham-Thin;
    font-size: 1em;
}

p {
    font-size: 1em;
}


/*
######################

@ Font Imports

######################
*/

@font-face {
    font-family: 'Nymphette'; 
    src: url('fonts/Nymphette.ttf');
    font-variant: normal;
}

@font-face {
    font-family: 'Gotham-Black';
    src: url('fonts/Gotham-Black.otf');
    font-variant: normal;
}

@font-face {
    font-family: 'Gotham-BlackItalic';
    src: url('fonts/Gotham-BlackItalic.otf');
    font-variant: normal;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('fonts/Gotham-Bold.otf');
    font-variant: normal;
}

@font-face {
    font-family: 'Gotham-BoldItalic';
    src: url('fonts/Gotham-BoldItalic.otf');
    font-variant: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('fonts/Gotham-Book.otf');
    font-variant: normal;
}

@font-face {
    font-family: 'Gotham-BookItalic';
    src: url('fonts/Gotham-BookItalic.otf');
    font-variant: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('fonts/Gotham-Light.otf');
    font-variant: normal;
}

@font-face {
    font-family: 'Gotham-LightItalic';
    src: url('fonts/Gotham-LightItalic.otf');
    font-variant: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('fonts/Gotham-Medium.otf');
    font-variant: normal;
}

@font-face {
    font-family: 'Gotham-MediumItalic';
    src: url('fonts/Gotham-MediumItalic.otf');
    font-variant: normal;
}

@font-face {
    font-family: 'Gotham-Thin';
    src: url('fonts/Gotham-Thin.otf');
    font-variant: normal;
}

@font-face {
    font-family: 'Gotham-ThinItalic';
    src: url('fonts/Gotham-ThinItalic.otf');
    font-variant: normal;
}

@font-face {
    font-family: 'Gotham-Ultra';
    src: url('fonts/Gotham-Ultra.otf');
    font-variant: normal;
}

@font-face {
    font-family: 'Gotham-UltraItalic';
    src: url('fonts/Gotham-UltraItalic.otf');
    font-variant: normal;
}

@font-face {
    font-family: 'Gotham-XLight';
    src: url('fonts/Gotham-XLight.otf');
    font-variant: normal;
}

@font-face {
    font-family: 'Gotham-XLightItalic';
    src: url('fonts/Gotham-XLightItalic.otf');
    font-variant: normal;
}

@font-face {
    font-family: 'GillSans';
    src: url('fonts/Gill Sans MT.ttf');
    font-variant: normal;
}

@font-face {
    font-family: 'GillSansBold';
    src: url('fonts/Gill Sans MT Bold.ttf');
    font-variant: normal;
}

@font-face {
    font-family: 'GillSansItalic';
    src: url('fonts/Gill Sans MT Italic.ttf');
    font-variant: normal;
}

@font-face {
    font-family: 'GillSansBoldItalic';
    src: url('fonts/Gill Sans MT Bold Italic.ttf');
    font-variant: normal;
}


@font-face {
    font-family: 'MyriadProRegular';
    src: url('fonts/MyriadPro-Regular.otf');
    font-variant: normal;
}

@font-face {
    font-family: 'MyriadProItalic';
    src: url('fonts/MyriadPro-It.otf');
    font-variant: normal;
}


@font-face {
    font-family: 'MyriadProRegularBold';
    src: url('fonts/MyriadPro-Bold.otf');
    font-variant: normal;
}

@font-face {
    font-family: 'MyriadProSemiBold'; 
    src: url('fonts/MyriadPro-Semibold.otf');
    font-variant: normal;
}


@font-face {
    font-family: 'MyriadProLight';
    src: url('fonts/MyriadPro-Light.otf');
    font-variant: normal;

}

@font-face {
    font-family: 'MyriadProBlack'; 
    src: url('fonts/MyriadPro-Black.otf');
    font-variant: normal;
}
