/* Text Selectionn & Cursor : Turn on both for publication on Touch Kiosk
----------------------------------------------------------------------------------------------------*/

* {
    /* cursor: none !important; */
    -webkit-user-select: none;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}


/* Body & HTML 
----------------------------------------------------------------------------------------------------*/

html {
    background-color: #222;
    min-height:100%;
}

body {
    background-color: #222;
    color: #FFF;
    padding: 1px;
    font-size: 100%;
    width: 100%;
    height: 100vh;
}

/* Developer Outlines
----------------------------------------------------------------------------------------------------*/

/* 
#wrapper {
    outline: 1px solid pink;
}

header {
    outline: 1px solid aqua;
}

nav {
    outline: 1px solid green;
}

#content {
    outline: 1px solid red;
}

footer {
    outline: 1px solid yellow;
}
 */

/* Wrapper
----------------------------------------------------------------------------------------------------*/


/* Main Elements
----------------------------------------------------------------------------------------------------*/

header, #content, footer {
    position: relative;
    width: 100%;
}

/* Header
----------------------------------------------------------------------------------------------------*/

header {
    min-height: 15%;
    padding: 1em 0 0 1em;
}

/* Nav
----------------------------------------------------------------------------------------------------*/

nav {
}


/* Content
----------------------------------------------------------------------------------------------------*/

#content {
    height: 85vh;
    margin: 0 0 3px 0;
}


/* Footer
----------------------------------------------------------------------------------------------------*/

footer {
}

