.chart_wrap {
    display: inline-block;
    margin:10px 0 10px 20px;
    padding:10px;
    width: 45%;
    height: 45%;
}

.chart {
    width: 100%;
    height: 35vh;
    margin: 0.25em 0 0 0;
    padding: 1em;
    border: 1px solid #ddd;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

#temperature, #humidity, #vibration, #pressure {
    height: 30vh;
  
}
.sensor_stats {
    display: inline-block;
    text-align:center;
    height: 50px;
    width: 100px;
}

.current_stats {
    margin: 0 1em;
    padding: 0 0.5em;
    line-height: 1;
    display: inline-block;
    font-size: 1em;
    vertical-align:middle;
    position: relative;
    top: -.1em;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}